{% extends 'index.html'%}

{% block content%}
 <form action="/products/" method="GET">
   <input type="text" name="search" placeholder="Search">
   <input type="submit" value="Search">
 </form>

  {% for product in products %}
  <div class="card" style="width: 17rem;">
    <img src="/media/{{product.image}}" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{product.price}}</h6>
      <a href="/products/{{product.id}}" class="card-link">More</a>
        {%for category in product.category.all%}
          <a href="#" class="card-link"  > {{category.name}}</a>
        {% endfor %}
    </div>
  </div>
{% endfor %}
   {% for page in pages %}
<a href="?page={{ page }}" methods="GET"><h2>{{ page }}</h2></a>

   {% endfor %}
{% endblock %}
