{% extends 'index.html'%}

{% block content%}
  {% for product in products %}
  <div class="card" style="width: 17rem;">
    <img src="/media/{{product.image}}" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{product.price}}</h6>
      <a href="/products/{{product.id}}" class="card-link">More</a>
        {%for category in product.category.all%}
          <a href="#" class="card-link"  > {{category.name}}</a>
        {% endfor %}
    </div>
  </div>
{% endfor %}

{% endblock %}
